################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.json
*.props
*.targets
/TreinamentoSOLID/InterfaceSegregation/obj/Debug/netcoreapp3.1/InterfaceSegregation.csproj.FileListAbsolute.txt
*.dll
*.exe
*.pdb
